

.fundo_cor{
    background-color: rgb(247, 152, 250);
}
.borda{
    border-right: 5px solid rgb(14, 14, 14);
}
.titulo h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-bottom: black 3px solid;
}

.tamanhologo{
    width:200px;
}
.tampec{
    width:100px;
}
.mycontainer{
    margin-left: 5% !important;
    margin-right:5% !important;
}
.icon-youtube{
    background-image: url('../icones/youtube-brands.svg');
    background-repeat: no-repeat;
}
.icon-insta{
    background-image: url('../icones/instagram-brands.svg');
    background-repeat: no-repeat;
}
.icon-githube{
    background-image: url('../icones/github-brands.svg');
    background-repeat: no-repeat;
    fill:white;
}
.icon{
    font-size: 5em;
    min-width:100px ;
    min-height:100px;
    display:block;
    
}
.orange{
    color:orange;
}


#sobre,#habiliade,#formacao,#hobbie,#books{
    display:none;
}
p{
    font-size: 18px;
    font-family:sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: whitesmoke;
}
.flamengo{
    width: 400px;
}
.texto{
    font-size: 25px;
}